<html>
  <body>

    <header>Header</header>

    <% if request.path_info.include? "job" %>
    	 <% if request.path_info.include? "edit" %>
		    <a href="<%= request.path_info[0..-6] %>">&larr; back</a>
		  <% else %>
    		<a href="/">&larr; back</a>
    	<% end %>
    <% end %>

    <%= yield %>
    
    <footer>Footer</footer>

  </body>
</html>