<form name="input" action="/create" method="post">
	<p>
		<label>Client:</label>
		<input type="text" name="client">
	</p>

	<p>
		<label>Project Title:</label>
		<input type="text" name="title">
	</p>

	<p>
		<select name="status">
			<option value="external">external</option>
			<option value="internal">internal</option>
		</select>
	</p>

	<input type="submit" value="Submit">
</form>
