<form name="input" action="/create" method="post">
	<p>
		<label>Client:</label>
		<input type="text" name="client">
	</p>

	<p>
		<label>Project Title:</label>
		<input type="text" name="title">
	</p>

	<input type="submit" value="Submit">
</form>
